[submodule "docker/chroma"]
  path = docker/chroma
  url = https://github.com/chroma-core/chroma.git
[submodule "docs/themes/DoIt"]
	path = docs/themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
